<div align="left" style="margin-top:2px;">
<p style="color:#FFFFFF;font-size:12px" class="topUV">您是第

<script src='http://www.xiaoniu168.com/counts3262.html' language='JavaScript' charset='utf-8'></script>
 <script>
      var oP = document.getElementsByClassName("topUV")[0];
      oP.getElementsByTagName("a")[0].setAttribute("href","javascript:void(0);");
  </script>
位访客</p>
</div>