<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
		<p style="text-align:left;text-indent:10px;"><script type="text/javascript" src="http://tajs.qq.com/stats?sId=59154049" charset="UTF-8"></script></p>
      	<div class="footer-right">
      		<a  target="_blank">Hexo</a>  Theme <a  target="_blank">Yilia</a> by Litten
      	</div>
    </div>
  </div>
</footer>