# DO NOT REMOVE THIS LINE AND THE LINES BELOW SSL_REDIRECT:ru23.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^ru23.com$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:ru23.com

RewriteCond %{REQUEST_URI} ^/(frontend|frontend/.*)$
RewriteRule ^/frontend/index\.html$ - [L,NC]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(/.*)$ frontend/index.html [L]

# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:eReWut
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE eReWut:ERRORPAGEID

