<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <%- partial('plugins/sites/visit') %>
      <p>
        Powered by  <a href="http://hexo.io/" target="_blank">Hexo</a>
        <!-- Theme <a href="//github.com/wongminho/hexo-theme-miho" target="_blank">MiHo</a> -->
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      </p>
    </div>
  </div>
</footer>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5526491839331555",
    enable_page_level_ads: true
  });
</script>