

.article-footer-copyright{
   border-top:1px solid #d3d3d3;
   margin: 10px auto;     
   padding-left:2em;
   width: 80%;
}

.article-footer-copyright span,.copyright abbr{
  color:#3d3d3d;
}


div.copyright{
	
     font-weight:bold;
    color:#FCB297;
       padding:0.3em 0.5em;
       margin:0 0 1em 0;
       border-bottom:none;
       background-color:#AAD2F0;
       -moz-border-radius: 1em;
       -webkit-border-radius:1em;
       border-radius: 1em;

  -moz-box-shadow:inset 0px 1px 0px 0px #eeeeee;
  -webkit-box-shadow:inset 0px 1px 0px 0px #eeeeee;
  box-shadow:inset 0px 1px 0px 0px #eeeeee;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #aad2f0), color-stop(1, #8bc1ed) );
  background:-moz-linear-gradient( center top, #aad2f0 5%, #8bc1ed 100% );
  /* filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aad2f0', endColorstr='#8bc1ed'); */
  background-color:#aad2f0;
  border:1px solid #dcdcdc;
  text-shadow:1px 1px 0px #eeeeee;
  
}

div.article-footer-copyright{
	margin-top:2em;
	padding: 0.8em;
	border:1px solid #d3d3d3;
	background-color:#DEEBF7;
}
.article-footer-copyright p{
	line-height: 140%;
	margin: 10px;
	font-size: 100%;
}


