.toc-article {
	float:left; 
	min-width:200px;
	padding: 4px 10px;
	font-size: 12px; 
	background-color: #eee;
	border: 1px solid #ccc;
}
 
.toc-article a {
	color: #369;
	border-bottom: 0px;
}

.toc-article ol {
  
	margin: 0px 14px 0px;
	line-height: 160%;
	padding-left: 14px;
	list-style-type: none;
	display: none;
}

.toc-article li {
	list-style: decimal;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.toc-article .toc-title p{
	text-align: right;
	margin: 0;
}

.toc-article .toc-title p span{
	float: left;
}