#totop {
	width: 40px; 
	height: 40px; 
	position: fixed; 
	right: 100px; 
	bottom: 100px; 
	display:none;   /*默认不显示*/
	background:url(/img/totop.png) no-repeat left top; /*图片的上半部分*/
	}
#totop:hover {
	background:url(/img/totop.png) no-repeat 0 -39px; /*图片的下半部分*/
	}