.category-all-page .category-list-item,
.tag-cloud a {
    padding: 3px 3px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.category-all-page .category-all-title,
#posts .tag-cloud-title {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
