
#content .posts-expand .post {
    margin-top: 68px;
    background: url(http://www.miaov.com/static/ie/images/news/conBg.png) repeat-y center;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 10px 30px 15px 30px;
    border: 1px solid #e8e8e8;
    border-bottom: 2px solid #fff;
    margin-left: -80px;
    margin-right: -80px;
    border-radius: 10px;
}

#content .posts-expand .post:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-bottom: 2px solid #3c9dff;
}
#content .posts-expand .post-title:before {
    background: #fff;
}
#content .posts-expand .post-title:hover:before {
    background: #fff;
}
#content .posts-expand .post-title{
   -webkit-box-reflect: below -18px -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(10%,transparent),to(hsla(0,0%,100%,.2)));
}
   
#posts article.post div.mod-category_article-time {
	width: 67px;
    height: 67px;
    border-radius: 60px;
    background: rgb(227, 220, 213);
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 3px;
    left: -102px;
    z-index: 999;
}

#posts article.post div.mod-category_article-time  span{
    font-size: 12px;
    line-height: 42px;
    text-indent: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.23);
}

#posts article.post div.mod-category_article-time:after {
    content: '';
    position: absolute;
    left: 92px;
    top: 28px;
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transition: background .1s linear;
    transition: background .1s linear;
    background-color: #FBFAF9;
    border-left: 1px solid #dee8ef;
    border-bottom: 1px solid #dee8ef;
    z-index: 5;
}
/**
.main:after{
    padding-bottom: 190px;
    width: 1px;
    position: absolute;
    top: 295px;
    left: 143px;
    height: 4112px;
    border-left: 2px solid #e7d2bb;
    content: '';
    z-index: -1;
}
**/
.center-author-info {
	border-radius: 24px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 24px;
    line-height: 24px;
    background: #e3dcd5;
    text-align: center;
    border: 1px solid #cfdbe4;
    color: #6e7c86;
}
