.footer{
   background: rgba(12, 0, 0, 0.04);
   height: 120px;
}
.footer-inner {
  padding-top: 6px;
}
.site-uv {
    margin-right: 10px;
}
.site-uv .busuanzi-value, .site-pv .busuanzi-value, .page-pv .busuanzi-value {
    margin: 0 5px;
}
.site-uv::after {
    content: "|";
    padding-left: 10px;
}

img.fenxi{
	width:16px;
	height:16px;
}

.pagination .page-number.current {
    border-radius: 27px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    transition: 0.3s box-shadow, 0.3s padding;
    border-radius: 9999px;
}
.pagination .prev:hover, .pagination .next:hover, .pagination .page-number:hover {
    background: rgba(0,0,0,0.1);
    color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3) inset;
    border-radius: 27px;
}
.pagination .prev:hover, .pagination .next:hover, .pagination .page-number:active{
    background: rgba(0,0,0,0.1);
    color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3) inset;
    border-radius: 27px;
}
.pag-foo{
  text-align: center;
}
.ds-top-threads li a:hover{
      padding-left: 20px;    
}
.ds-top-threads li a{
      transition: all .5s;
}
.main-inner p.hot-commit{
    color: red;
    position: relative;
    top: 18px;
}

.posts-expand .post-tags a:hover,.posts-expand .post-tags a:active{
    color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3) inset;
}
.posts-expand .post-tags a{
    border-bottom: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    transition: 0.3s box-shadow, 0.3s padding;
    border-radius: 9999px;
    background: rgb(245, 245, 245);
}


