.post-more-link a {
    border: 2px solid #555;
    padding: 0 20px;
    border-radius: 10px;
}

.post-more-link a.btn:hover{
    color: #fff;
    background: #222;
}

.post-more-link {
    text-align: center;
}

.post pre .comment {
  font-size: 13px;
  font-family: "Microsoft Yahei" ;
  padding-left: 25px;
}
