.site-author-image {
  border-radius: 67px;
}

.sidebar, .sidebar-toggle, .back-to-top {
    background: #1a483e;
    opacity: 0.7;
}
.site-description {
    color: #03A9F4;
    border-bottom: 1px solid #545454;
    padding-bottom: 5px;
}
